body
{
    background-color: lightgrey;
 
} 
header
{
   color: hotpink;
  text-align: center;
  font-size:40px;
} 
h1
{
   color: hotpink;
  text-align: left;
  font-size:20px;
} 
ul
{
    list-style-type: none;
    font-size:25px;
    padding: 10px;
    background: grey;
    text-align: center;
}
li a
{
	text-decoration: none;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    color: pink;

section
{
	color:black;
    text-align: left;
}
